{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
  {compile, "cargo build --release --manifest-path native/fenrir_nif/Cargo.toml"}
]}.

{post_hooks, [
  {compile, "powershell -NoProfile -Command \"New-Item -ItemType Directory -Force apps/fenrir/priv | Out-Null; Copy-Item native/fenrir_nif/target/release/fenrir_nif.dll apps/fenrir/priv/fenrir_core_nif.dll -Force\""}
]}.

{profiles, [
  {test, [
    {deps, [
      {proper, "1.4.0"}
    ]}
  ]}
]}.
